* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#main__wrapper {
    background: url('img/background.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.background_2 {
    background: url('img/background_2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 1000px;
    height: 840px;
    right: -11px;
    top: 44px;
}

header {
    display: flex;
}

header div.logo {
    object-fit: contain;
    margin-left: -25px;
}

header ul {
    align-items: center;
    display: flex;
    font-family: Lato;
    font-size: 16px;
    justify-content: space-evenly;
    line-height: 19px;
    list-style: none;
    padding-top: 35px;
    margin-left: 37px;
}

header ul li {
    margin-right: 25px;
}

header ul li a {
    color: #FFF;
}

header ul li a:hover {
    color: #FFF;
    text-decoration: underline;
}

header a.free__credit__score {
    margin-top: 35px;
    background: #FFF;
    color: #000;
    border-radius: 0px 0px 10px 10px;
    padding: 3px 8px;
    height: 30px;
}

header ul li a.free__credit__score:hover {
    text-decoration: none;
}

header div.right__nav {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    flex: 1;
    margin-top: 22px;
}

header div.right__nav button.login {
    background: #34495E;
    color: #FFF;
    border-radius: 10px;
    padding: 10px 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline:none;
    border: none;
    margin-right: 40px;
}

header div.right__nav a.right-menu {
    background: url('img/hamburger.png') no-repeat;
    background-size: contain;
    width: 42px;
    height: 30px;
}

div.home__content {
    /* background: url('img/background_2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    margin: 70px 0 0 52px;
    height: 735px;
}

div.home__content div.content__one {
    width: 582px;
}

div.home__content div.content__one span.home__credit__score {
    background-color: #FFF;
    color: #136CB0;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
}

div.home__content div.content__one p.credit__score__text {
    margin-top: 20px;
    font-size: 32px;
    color: #FFF;
    line-height: 40px;
    font-weight: bold;
}

div.content__two {
    margin-top: 35px;
    display: flex;
    align-items: flex-start;
    width: 582px;
}

div.content__two div.content__two__col__one {
    margin-right: 40px;
}

div.content__two div.content__two__col__one span,
div.content__two div.content__two__col__two span {
    display: block;
    color: #FFF;
    font-size: 15px;
}

div.content__two div.content__two__col__one span img.icon,
div.content__two div.content__two__col__two span img.icon {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

div.content__three {
    margin-top: 50px;
}

div.content__three a.content__free__credit__button {
    background: #1ABC9C;
    color: #FFF;
    font-size: 25px;;
    text-decoration: none !important;
    padding: 15px 30px;
    border-radius: 15px;
}

footer {
    margin-top: 0 auto 20px auto;
}

footer div.footer__content__one {
    display: flex;
    align-content: center;
    width: 595px;
    margin: 0 auto;
}

footer div.footer__content__one img.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

footer div.footer__content__one p {
    color: #34495E;
    font-size: 21px;
}

footer div.footer__content__two {
    margin: 20px 0px;
}

footer div.footer__content__two ul {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

footer div.footer__content__two ul li {
    margin-right: 40px;
    text-align: center;
}

footer div.footer__content__two ul li a {
    text-decoration: none !important;
}

footer div.footer__content__two ul li div.img__background  {
    background-color: #F1F3F2;
    padding: 20px;
    border-radius: 5px;
}

footer div.footer__content__two ul li a div.img__background img {
    width: 40px;
    height: 40px;
}


footer div.footer__content__two ul li:hover a div.img__background {
    background-image: linear-gradient(#136CB0, #05416E);
}

footer div.footer__content__two ul li span {
    color: #136CB0;
    font-size: 15px;
    margin-top: 25px;
    display: block;
}

footer div.footer__content__two ul li.active span {
    margin-top: 0px;
}

@media only screen and (max-width: 600px) {

    body {
        overflow-x: hidden;
    }

    #main__wrapper {
        background: url('img/background.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }

    .background_2 {
        background: url('img/background_2_mob.png'), url('img/background_2_mob.png');
        background-size: contain, cover;
        background-repeat: no-repeat;
        background-position: -228px 48px, 64px center;
        position: relative;
        width: 380px;
        height: 431px;
        margin-top: -134px;
        top: 120px;
        left: -14px;
    }

    div.home__content {
        height: auto;
    }

    header div.logo img {
        width: 175px;
    }    

    header a.free__credit__score {
        margin-top: 16px;
        height: 21px;
        font-size: 10px;
    }

    header div.right__nav a.right-menu {
        width: 27px;
        height: 17px;
    }
    
    header div.right__nav {
        padding: 0px;
        margin-top: 11px;
    }

    div.home__content {
        margin: 40px auto;
        text-align: center;
        width: 100%;
    }

    div.home__content div.content__one {
        width: 100%;
    }

    div.home__content div.content__one span.home__credit__score {
        font-size: 20px;
    }

    div.home__content div.content__one p.credit__score__text {
        font-size: 26px;
        line-height: 28px;
        padding: 0 34px;
    }

    div.content__two {
        margin-top: 10px;
        display: block;
        text-align: left;
        padding: 0 34px;
        width: auto;
    }

    div.content__two div.content__two__col__one {
        display: block;
        margin: 0;
    }

    div.content__two div.content__two__col__one span, div.content__two div.content__two__col__two span {
        font-size: 12px;
        margin-bottom: 4px;
    }

    div.content__three {
        margin-top: 25px;
    }

    div.content__three a.content__free__credit__button {
        font-size: 16px;
        padding: 10px 16px;
        border-radius: 8px;
    }

    footer {
        top: 136px;
        position: relative;
    }

    footer div.footer__content__one {
        display: block;
        text-align: center;
        width: 217px;
        margin: 0 auto;
    }

    footer div.footer__content__one img.icon {
        width: auto;
        height: auto;
    }

    footer div.footer__content__two ul {
        width: 259px;
        margin: 0 auto;
        display: block;
    }

    footer div.footer__content__two ul li {
        margin-right: 20px;
        text-align: center;
        display: inline-block;
    }

    footer div.footer__content__two ul li:hover a div.img__background {
        background-image: linear-gradient(#136CB0, #05416E);
    }

    footer div.footer__content__two ul li a div.img__background img {
        width: 30px;
        height: 30px;
    }

    footer div.footer__content__two ul li.active span {
        font-size: 11px;
    }

    footer div.footer__content__two ul li div.img__background {
        padding: 15px;
    }

    footer div.footer__content__two ul li div.img__background > img {
        width: 30px;
        height: 30px;
    }

    footer div.footer__content__two ul li span {
        margin-top: 12px;
        font-size: 11px;
    }
}